@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

body{
    font-family: 'Spartan', sans-serif;
    background-image: url(images/bg-pattern-bottom-desktop.svg),url(images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right -160px, top left;    
}
p {
    margin: 0px;
}
.container{
    display: grid;
    grid-template-areas: 
    "top"
    "user";
  
}

.top{
    display: grid;
    grid-area: top;
    grid-template-columns: 1fr 1fr;
    margin-left: 165px;
    margin-right: 125px;
    margin-top: 130px;
}

.title{
    color: hsl(300, 43%, 22%);
    max-width: 425px;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 10px;
}

.phrase{
    font-weight: 400;
    color: hsl(303, 10%, 53%);
    max-width: 500px;
}

.review{
    display: flex;
    background-color: hsl(300, 24%, 96%);
    border-radius: 5%;
    padding: 20px;
    font-weight: bold;
    color: hsl(300, 43%, 22%);
    margin: 20px;
}

.review1{
    position: relative;
    right: 120px;
}

.review2{
    position: relative;
    right: 70px;
}

.review3{
    position: relative;
    right: 20px;
}

.image{
    margin-right: 25px;
}

.sectionuser{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: user;
    margin-left: 165px;
    margin-right: 125px;

}

.unique{
    display: grid;
    grid-template-areas: 
    "photo name"
    "photo buyer"
    "speak speak";
    grid-template-columns: 60px 280px;
    max-width: 350px;
    max-height: 240px;
    background-color: hsl(300, 43%, 22%);
    margin-right: 40px;
    border-radius: 3%;
    font-size: 15px;
    color: white;
    padding-top: 40px;
    padding-bottom: 45px;
    padding-right: 35px;
    padding-left: 30px;
}

.photo{
    grid-area: photo;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    align-self: start;
}

.name{
    grid-area:name;
    align-self: end;
}

.buyer{
    grid-area:buyer;
    color: hsl(333, 80%, 67%);
    align-self: start;
    justify-self: start;
}

.speak{
    grid-area: speak;
    line-height: 1.5;
    margin-top: 30px;
}

.card1{
    position: relative;
    top:15px;
}

.card2{
    position: relative;
    top:30px;
}

@media (max-width:600px) {
    body{
        background-image: url(images/bg-pattern-bottom-mobile.svg),url(images/bg-pattern-top-mobile.svg);
        background-repeat: no-repeat, no-repeat;
    }
.top{
    grid-template-columns: 1fr;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 70px;
}

.text{
    text-align: center;
}

.title{
    font-size: 30px;
}

.phrase{
    line-height: 1.5;
    font-size: 13.5px;
}

.sectionuser{
    grid-template-columns: 1fr;
    margin-left: 30px;
    margin-right: 30px;
    justify-self: center;

}

.unique{
    margin-right: 0px;
}

.review{
    display: flex;
    flex-direction:column;
    text-align: center;
    margin: 20px 0px;
}


.image{
    margin-right: 0px;
}

.review1{
    right:0px;
}

.review2{
    right:0px;
}

.review3{
    right:0px;
}

.unique{
    grid-template-columns: 17.647% 82.352%;
    margin-right: 0px;
}

.name{
    margin-left: 10px;
    margin-bottom: 5px;
}

.buyer{
    margin-left: 10px;

}

.card1{
    top:0px;
    margin-top: 30px;
}

.card2{
    top:0px;
    margin-top: 30px;

}


   
}