
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');



body{
    min-height: 95vh;
    display: grid;
    background-color: hsl(0, 0%, 95%);
    justify-content: center;
    align-content: center;
    
}

a{
    width: 70%;
    border-radius: 30px;
    font-style: none;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    background-color:  hsl(0, 0%, 95%);
    text-decoration: none;
}


.container {
    display: grid;
    max-width: 920px;
    max-height: 500px;
    /*margin:170px 260px 130px 260px;*/
    grid-template-columns: repeat(3,minmax(200px,310px));

    
}

.column {
    display: grid;
    grid-template-areas: 
    "image"
    "title"
    "text"
    "button";
    font-size: 15px;
    padding:50px;
   

}

.column:first-child{
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    background-color: hsl(31, 77%, 52%);
}

.column:nth-child(2){
    background-color:hsl(184, 100%, 22%);
}

.column:nth-child(3){
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    background-color:hsl(179, 100%, 13%);
}

.image {
    grid-area: image;
    margin-bottom: 10px;
}

.title{
    grid-area: title;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 40px;
    color:hsl(0, 0%, 95%);
}

.text {
    grid-area: text;
    line-height: 25px;
    font-family: 'Lexend Deca', sans-serif;
    color:hsla(0, 0%, 100%, 0.75);
}


.button {
    grid-area: button;
    margin-top: 70px;
    padding: 16px 0px;
    border: 2px solid hsl(0, 0%, 95%);
}
.button:hover{
    color: hsl(0, 0%, 95%);
    background-color: transparent;
}
.button1 {
    color: hsl(31, 77%, 52%);
}


.button2 {
    color: hsl(184, 100%, 22%);

}



.button3 {
    color: hsl(179, 100%, 13%);
}

@media (max-width: 400px) {
    .container{
        grid-template-columns: 1fr;
    }

    .column:first-child{
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;
        border-bottom-left-radius: 0%;


    }
    
    .column:nth-child(3){
        border-top-right-radius: 0%;
        border-bottom-right-radius: 2%;
        border-bottom-left-radius: 2%;
    }

    
}






