@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
    min-height: 625px;
    display: grid;
    align-items: center;
    justify-content: center;    background-image: url("images/bg-pattern-top.svg") , url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat,no-repeat;
    background-position: right calc(47vw + 15%) bottom calc(65vh - 15vw), left calc(40vw + 25%) top calc(72vh - 10vw);    
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;

}

.card{
    max-width: 400px;
    display:grid;
    grid-template-areas: 
    "top top top"
    ". picture ."
    "name name name"
    "followers likes photos";
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0px 35px 150px rgba(0, 0, 0, 0.2);
}

.top{
    width: 100%;
    grid-area: top;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}


.picture{
    grid-area: picture;
    border-radius: 100%;
    border: solid white 5px;
    position: relative;
    top:-45px;
}

.name {
    grid-area: name;
    text-align: center;
    grid-row: 2 / 4;
    font-size: 18px;
    margin-top: 90px;
    line-height: 25px;
    padding-bottom: 26px;
    border-bottom: 0.5px solid hsl(0, 0%, 59%)
    ;
}

.followers{
    grid-area: followers;
    text-align: center;
}

.likes{
    grid-area: likes;
    text-align: center;
}

.photos{
    grid-area: photos;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.gray {
    color: hsl(0, 0%, 59%);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 25px;
}

.age {
    color: hsl(0, 0%, 59%);

}

.city {
    color: hsl(0, 0%, 59%);
    font-size: 13px;
}