@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
--Pale_blue: hsl(225, 100%, 94%);
--Bright_blue: hsl(245, 75%, 52%);
--Very_pale_blue: hsl(225, 100%, 98%);
--Desaturated_blue: hsl(224, 23%, 55%);
--Dark_blue: hsl(223, 47%, 23%);
}

img{
  width: 100%;
}

h1,p{
  margin: 0px;
  padding: 0px;
}

a{
  cursor: pointer;
}

body{
  font-family: 'Red Hat Display', sans-serif;
  background: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: var(--Pale_blue);
  background-size:contain;
  font-size: 16px;
  display: grid;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
}

.container{
  background: white;
  max-width: 455px;
  height: 700px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0px 9px 12px -3px rgba(0,0,0,0.3);
}

.illustration{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.title{
  color: var(--Dark_blue);
  font-weight: 900;
  margin-top: 40px;
  font-size: 28px;
}

.phrase{
  margin-top: 20px;
  color: var(--Desaturated_blue);
  padding: 0px 80px;
}

.plans{
  display: grid;
  grid-template-areas: 
  "icon plan change"
  "icon price change";
  background-color: var(--Very_pale_blue);
  margin: 30px 50px;
  padding: 25px;
  border-radius: 10px;
}

.price{
  grid-area: price;
  justify-self: left;
  color: var(--Desaturated_blue);
  position: relative;
  right: 15px;
}

.plan{
  grid-area: plan;
  justify-self: left;
  color: var(--Dark_blue);
  font-weight: 900;
  position: relative;
  right: 15px;
}

.icon{
  max-width: 50px;
  grid-area: icon;
}

.change{
  grid-area: change;
  align-self: center;
  justify-self: right;
  text-decoration: underline;
  color: var(--Bright_blue);
  font-weight: 700;
  font-size: 14px;
}

.change:hover{
  color: var(--Desaturated_blue);
}


.payment{
  padding: 15px 100px;
  background-color: var(--Bright_blue);
  color: white;
  border-radius: 10px;
  font-weight: 700;
  box-shadow: 0px 12px 29px -5px rgba(0,0,0,0.3);
  display: inline-block;
} 

.payment:hover{
  background-color: var(--Desaturated_blue);
}

.cancel{
  font-weight: 700;
  color: var(--Desaturated_blue);
  display: inline-block;
  margin-top: 30px;
}

.cancel:hover{
  color: var(--Dark_blue);
}

@media(max-width: 500px){
  body{
    background: url("images/pattern-background-mobile.svg");
  }
  .container{
    margin: 30px 0px;
  }
  .price{
    right: 0px;
  }
  
  .plan{
    right: 0px;
  }
}

@media(max-width: 380px){
  .payment{
    padding: 15px 55px;
  } 
  .plans{
    padding: 25px 10px;
  }
}