@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
    min-height: 95vh;
    background: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;    

}

.container{
    display: grid;
    grid-template-areas: 
    ".           intro        ."
    ".           teambuilder  ."
    "supervisor  karma            calculator";
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.intro {
    width: 510px;
    height: 160px;
    grid-area: intro;
    text-align: center;
    color: hsl(234, 12%, 34%);

}

.powered{
    font-weight: 600;
    font-size: 40px;
    line-height: 0.5;

}

.reliable{
    font-size: 40px;
    font-weight: 200;
    line-height: 0.5;

}
.card{
    display: grid;
    grid-template-areas: 
    "title  title  title     "
    "phrase phrase phrase"
    ".      .      image";
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 2fr 2fr;
    background: white;
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 250px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 3px 3px 10px -2px hsl(234, 12%, 34%);

}

.card:nth-child(2){
    border-top: 5px solid hsl(180, 62%, 55%);
}

.card:nth-child(3){
    border-top: 5px solid hsl(0, 78%, 62%);
}

.card:nth-child(4){
    border-top: 5px solid hsl(212, 86%, 64%);
}

.card:nth-child(5){
    border-top: 5px solid hsl(34, 97%, 64%);
}

.title{
    grid-area: title;
    padding-left: 30px;
    margin-bottom: 0px;
    margin-top: 25px;
    color: hsl(234, 12%, 34%);
}

.phrase{
    grid-area: phrase;
    color: hsl(229, 6%, 66%);
    font-weight: 400;
    padding-right: 60px;
    padding-left: 30px;
    font-size: 12px;
}

.image{
    grid-area: image;
    justify-self: end;
    margin-right: 35px;

}

.intro{
    grid-area: intro;
}

.teambuilder{
    grid-area: teambuilder;
    margin-top: 110px;

}

.supervisor{
    grid-area: supervisor;
    position: relative;
    margin-left: 190px;
    margin-right: 30px;
    bottom: 85px;

}

.calculator{
    grid-area: calculator;
    position: relative;
    margin-right: 185px;
    margin-left: 30px;
    bottom: 85px;

}

.karma{
    grid-area: karma;
    position: relative;
    margin-top: 30px;
    margin-bottom: 80px;
}
@media(max-width: 1000px){
    .container{
        grid-template-areas: 
        "intro intro"
        "supervisor teambuilder"
        "karma calculator";
        grid-template-columns: 1fr 1fr;
    }
    .card{
 
        width: 100%;
        max-width: 420px;
        height: 100%;

    
    }

    .teambuilder{
        margin-top: 75px;
        margin-left: 40px;
    }
    
    .supervisor{
        bottom: 0px;
        margin-top: 75px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .calculator{
        bottom: 0px;
        margin: 40px 0px 0px 40px;
    }
    
    .karma{
        margin-top: 40px;
        margin-bottom: 0px;
    }
}


@media(max-width: 450px){
    .container{
        grid-template-areas: 
        "intro"
        "supervisor"
        "teambuilder"
        "karma"
        "calculator";
        grid-template-columns: 1fr;
    }
    .card{
        width: 310px;
        height: 220px;
    }

    .intro {
        width: 310px;
        height: 100%;
    }
    .powered{
        font-weight: 600;
        font-size: 25px;
    }
    
    .reliable{
        font-size: 25px;
        font-weight: 200;
    }

    .teambuilder{
        margin-top: 25px;
        margin-left: 0px;

    }
    
    .supervisor{
        margin-top: 75px;
    }
    
    .calculator{
        margin-top: 25px;  
        margin-bottom: 75px;
        margin-left: 0px;

    }
    
    .karma{
        margin-top: 25px;
        margin-bottom: 0px;
    }
}