@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}
.container {
  display: grid;
  grid-template-areas:
    ". logo ."
    ". soon ."
    ". subscribe ."
    ". form ."
    ". image ."
    ". media ."
    ". copyright .";
  justify-items: center;
  grid-template-rows: 9% 9% 9% 9% 44% 9% 9%;
}

.logo {
  grid-area: logo;
}

.soon {
  grid-area: soon;
  font-size: 40px;
}

.important {
  font-weight: 700;
}

.subscribe {
  grid-area: subscribe;
}

.form {
  grid-area: form;
  display: flex;
}

input[type="text"] {
  /*  width: 420px;*/
  width: 420px;
  height: 55px;
  border-radius: 40px;
  border: 1px solid hsl(0, 0%, 59%);
  font-family: "Libre Franklin", sans-serif;
  font-size: 15px;
}

.teste {
  font-family: "Libre Franklin", sans-serif;
  width: 20%;
  height: 55px;
  border-radius: 40px;
  border: none;
  color: white;
  background-color: hsl(223, 87%, 63%);
}

.image {
  grid-area: image;
  max-height: 385px;
  max-width: 640px;
}

.media {
  grid-area: media;
}

.copyright {
  grid-area: copyright;
  font-weight: 300;
}

.wrong {
  border-color: red;
}

.right {
  border-color: green;
}
