@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
    --Orange: hsl(25, 97%, 53%);   
    --White: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --lightMediumGrey: hsla(216, 12%, 54%, 0.1);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
}

*{
    padding: 0px;
    margin: 0px
}

body{
    font-family: 'Overpass', sans-serif;
    background-color: var(--veryDarkBlue);
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;  
    font-size: 15px;
    word-wrap: break-word;
}

.container{
    max-width: 350px;
    max-height: 350px;
    background-color: var(--darkBlue);
    border-radius: 25px;
    padding: 30px 40px 30px 35px
}

.star{
    padding: 15px;
    background-color: var(--lightMediumGrey);
    border-radius: 50%;
    margin-bottom: 30px;
}

.title{
    color: var(--White);
    font-size: 28px;
    margin-bottom: 25px;
}

.phrase{
    margin-bottom: 30px;
    color: var(--lightGrey);
    line-height: 20px;
}

.list{
    display: flex;
    list-style-type: none;
    color: var(--lightGrey);
}

.list li{
    flex: 1;
    padding: 17px;
    border-radius: 50%;
    background-color: var(--lightMediumGrey);
    text-align: center;
    margin: 0px 10px;
    cursor: pointer;
}

.list li:first-child{
    margin-left: 0px;
}

.list li:last-child{
    margin-right: 0px;
}

.list li:hover{
    transition: .5s;
    background-color: var(--Orange);
    color: white;
}

.list li.active{
    transition: .5s;
    background-color: var(--lightGrey);
    color: white;
}

.button{
    color: var(--White);
    background-color: var(--Orange);
    border: none;
    width: 100%;
    padding: 15px 0px;
    margin-top: 25px;
    border-radius: 20px;
    justify-self: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.button:hover{
    transition: .5s;
    color: var(--Orange);
    background-color: var(--White);
}


/* Thanks */

.thanks{
    text-align: center;
}

.ratingSelected{
    color: var(--Orange);
    margin-top: 40px;
}

.span{
    background-color: var(--lightMediumGrey);
    padding: 10px 20px;
    border-radius: 25px;
}


.title.titleThanks{
    margin-top: 35px;
}


.hidden{
    display: none;
}

@media(max-width: 500px){
    body{
        font-size: 12.5px;
    }

    .container{
        margin: 0px 25px;
        padding: 30px 20px 30px 20px;
        max-height: 400px;
    }
}

@media(max-width: 370px){    
    .list li{
        padding: 10px;
        margin: 0px 4px;
    }

    .span{
        padding: 5px 10px;
    }
}
