@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

body{
    font-family: 'Spartan', sans-serif;
}
p {
    margin: 0px;
}
.container{
    display: grid;
    grid-template-areas: 
    "top"
    "user";
}

.top{
    grid-area: top;
    grid-template-columns: 40% 60%;
}


.title{
    font-weight: 700;
    font-size: 40px;
}

.sectionuser{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: user;
    margin-left: 165px;
    margin-right: 125px;
}

.unique{
    display: grid;
    grid-template-areas: 
    "photo name"
    "photo buyer"
    "speak speak";
    grid-template-columns: 60px 280px;
    max-width: 350px;
    max-height: 240px;
    background-color: hsl(300, 43%, 22%);
    margin-right: 40px;
    border-radius: 3%;
    font-size: 15px;
    color: white;
    padding-top: 40px;
    padding-bottom: 45px;
    padding-right: 35px;
    padding-left: 30px;
}

.photo{
    grid-area: photo;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    align-self: start;
}

.name{
    grid-area:name;
    align-self: end;
}

.buyer{
    grid-area:buyer;
    color: hsl(333, 80%, 67%);
    align-self: start;
    justify-self: start;
}

.speak{
    grid-area: speak;
    line-height: 1.5;
    margin-top: 30px;

}

.card1{
    position: relative;
    top:15px;
}

.card2{
    position: relative;
    top:30px;
}


