@media only screen and (max-width: 700px) {
  .container{
    grid-template-areas: 
    "call"
    "rated"
    "user";

  }
  .rated {
    grid-area: rated;
  }
  .call {
    grid-area: call;
  }
  .sectionuser{
    grid-template-columns: 1fr;
  }

  .rate {
    width: 100%;
    padding: 20px;
  }
}

body{
    font-size: 13px;
    font-family: 'Spartan', sans-serif;
    background-image: url("images/bg-pattern-top-desktop.svg"),
     url("images/bg-pattern-bottom-desktop.svg") ;

  }
  
  h1 {
    font-weight: bold;
    color: hsl(300, 43%, 22%);
    font-size: 50px;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  .container {
    display:grid;
    grid-template-areas: 
    "top"
    "user";
    margin: 125px 165px;
  }

  .top{
    display: grid;
    grid-template-columns: 40% 60%;
  }

 
  .rate {
    width: 450px;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    background:hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    border-radius: 5%;
  }
  .rate:nth-child(2) {
    margin-left: 45px;
  }

  .rate:nth-child(3) {
    margin-left: 90px;
  }

  .sectionuser {
    display: grid;
    margin-top: 70px;
    gap: 30px;
    grid-area: user;
    grid-template-columns: 1fr 1fr 1fr;

  }
  
  .photo{
    grid-area: photo;
    border-radius: 50%;
    height: 40px;
  }

  .name {
    grid-area: name;
    color:white
  }

  .verified {
    grid-area: verified;
    color: hsl(333, 80%, 67%);
  }

  .user{
    width: 285px;
    display: grid;
    grid-template-areas: 
    "photo name"
    "photo verified"
    "review review";
    grid-template-columns: 50px 1fr;
    padding: 30px;
    background: hsl(300, 43%, 22%);
    color: hsl(300, 24%, 96%);
    border-radius: 5%;
  }

  .review {
    grid-area: review;
  }

  .user2{
    position: relative;
    top: 15px      
    }

  .user3{
    position: relative;
    top: 30px
  }
  
 