body{
    font-size: 13px;
    font-family: 'Spartan', sans-serif;
    background-image: url("images/bg-pattern-top-desktop.svg"),
     url("images/bg-pattern-bottom-desktop.svg") ;

  }
  
  h1 {
    font-weight: bold;
    color: hsl(300, 43%, 22%);
    font-size: 50px;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  .container {
    display:grid;
    grid-template-areas: 
    "top"
    "user";
    margin: 125px 165px;
  }

  .top{
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .sectionuser {
    display: grid;
    gap: 30px;
    grid-area: user;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .user{
    padding: 30px;
    background: hsl(300, 43%, 22%);
    color: hsl(300, 24%, 96%);
    border-radius: 5%;
  }

  .name {
    color:white
  }
  .verified {
    color: hsl(333, 80%, 67%);
  }

  .rate {
    justify-items: end;
    width: 450px;
    font-weight: bold;
    background:hsl(300, 24%, 96%);
    padding: 20px;
    color: hsl(300, 43%, 22%);
    border-radius: 5%;
  }

  .reviews {
      margin-right: 45px;
  }

  .report {
  }
  
  .photo{
    border-radius: 50%;
    height: 40px;
  }

  .user2{
    position: relative;
    top: 15px      
    }

  .user3{
    position: relative;
    top: 30px
  }
  