@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body{
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
    min-height: 95vh;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4{
    font-size: 20px;
    margin: 0px;
    margin-bottom: 22px;
    color: white;
    opacity: 0.9;
}
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 640px;
    max-height: 475px;
}

.intro{
    background: white;
    padding: 40px 70px 45px 40px;
}

.join{
    color:  hsl(179, 62%, 43%);
    font-weight: bold;
    font-size: 24px;
}

.day{
    color: hsl(71, 73%, 54%);
    font-size: 19px;
}

.gain{
    color:hsl(218, 22%, 67%);
    line-height: 1.7;
}

.info {
    display: flex;
    flex: 1;

}

.carac{
    background: #4abebd;   
    flex: 1;
    padding: 40px 0px 40px 40px;

}

.carac ul {
    list-style: none;
    padding: 0px;
    color:hsl(204, 43%, 93%);
    line-height: 1.6;
    font-size: 14px;
}

.subscription{
    background-color: hsl(179, 62%, 43%);
    color: white;
    flex: 1;
    padding: 40px 0px 40px 40px;
}

sup{
    margin-left: 10px;
    font-size: 16px;
    opacity: 0.6;
}

.dollar{
    font-size: 30px;
    margin-bottom: 15px;
    opacity: 0.9;
}

.sign {
    background-color: hsl(71, 73%, 54%);
    padding: 20px 90px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

.full {
    margin-bottom: 45px;
    opacity: 0.8;
}

@media(max-width: 600px){
    .info{
        flex-flow: row;
        flex-wrap: wrap;
       
    }

    .carac{
        min-width: 250px;
  
    }
    .subscription{
        min-width: 250px;

    }        

}

@media(max-width: 400px){
    
}